body {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    margin: 0px;
}

.sidebar {
    width: 25%;
    height: 100vh;
    background-color: darkseagreen;
}

.display-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(74, 140, 197);
    width: 100%;
}

.stepcounterbox {
    margin: 20px;
    width: 20%;
    height: 70%;
    text-align: center;
    background-color: ivory;
}

.welcome-message {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
    margin-bottom: 0px;
}

.info-card {
    margin: auto;
    width: 80%;
    height: 30%;
    background-color: white;
}

.app-name {
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
    width: 100%;
    font-size: 60px;
}

.compare-steps {
    margin: 10px;
    margin-left: 20px;
    width: 80%;
    height: 15%;
    background-color: white;
}

.friends {
    margin: 10px;
    margin-left: 20px;
    width: 80%;
    height: 25%;
    background-color: white;
}